

<p>[%message%]</p>
<form action="[% base _ 'relationshiptype/do_edit/' _ item.id %]"
    method="post">
    <table border=0 cellpadding=0 cellspacing=0>
    
        
        <tr>
            <td>relationship_type</td>
            <td>[% item.to_field('relationship_type').as_XML %]</td>
        </tr>
    
        
    </table>
    <input type="submit" value="Edit"/>
<form/>
<br/>
<a href="[% base _ 'relationshiptype/list' %]">List</a>
