body, html {
	width: 100%; height: 100%;
	top: 0; left: 0;
	padding: 0; margin: 0;
        overflow: hidden;
}

#outerframe {
    border: 0px solid red;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 20px;
}

.section {
    border-left: 1px solid black;
    border-right: 1px solid black;
    clear: both;
}
.section.expanded {
    height: 100px;
}

.section .body {
    display: none;
}

.section.expanded .body {
    display: block;
}

.section .header {
    background: #21bbf4;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: s-resize;
}
.section span {
    cursor: default;
}

#viewkernel {
    border: 0px solid red;
    margin: 0px;
    position: relative;
    width: 75%;
    height: 100%;
    overflow: hidden;
}

#background {
    border: 1px solid black;
    top: 30px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    position: absolute;
}

#namefield0 {
    border: 1px solid;
    position: relative;
    display: block;

    margin-left: auto;
    margin-right: auto;
    top: 10px;
    text-align: center;
    font-size: 2em;
}

.vkernel {
    position: absolute;
    z-index: 10;
}

.note {
    position: absolute;
    z-index: 10;
}

.note .body,
.vkernel .note .body,
.vkernel .vkernel .note .body {
    background: white;
    position: absolute;
    border: 1px solid #767676;
    top: 9px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    clear: both;
    overflow: auto;
    z-index: 0;
    font-family: sans-serif;
    font-size: 0.8em;
}

.note-left {
    position: absolute;
    background: url('/images/note-upper-left.png') no-repeat;
    height: 11px;
    left: 0px;
    width: 7px;
    top: 0px;
    z-index: 10;
}

.note-mid {
    position: absolute;
    background: url('/images/note-upper-mid.png');
    height: 11px;
    left: 7px;
    right: 6px;
    top: 0px;
    z-index: 10;
    cursor: move;
}

.note-right {
    position: absolute;
    background: url('/images/note-upper-right.png') right no-repeat;
    height: 11px;
    width: 6px;
    right: 0px;
    top: 0px;
    z-index: 10;
}

.vkernel.highlighted .leftbackground {
    background: url('/images/kernel-highlighted-left.png') no-repeat;
}

.vkernel.highlighted .mid-leftbackground {
    background: url('/images/kernel-highlighted-mid.png');
}

.vkernel.highlighted .rightbackground {
    background: url('/images/kernel-highlighted-right.png') right no-repeat;
}

.vkernel .vkernel.highlighted .leftbackground {
    background: url('/images/kernel-mini-highlighted-left.png') no-repeat;
}

.vkernel .vkernel.highlighted .mid-leftbackground {
    background: url('/images/kernel-mini-highlighted-mid.png');
}

.vkernel .vkernel.highlighted .mid-rightbackground {
    display: none;
}

.vkernel .vkernel.highlighted .rightbackground {
    background: url('/images/kernel-mini-highlighted-right.png') right no-repeat;
}

.vkernel.contains .leftbackground {
    background: url('/images/kernel-blue-left.png') no-repeat;
}

.vkernel.contains .mid-leftbackground {
    background: url('/images/kernel-blue-mid.png');
}

.vkernel.contains .rightbackground {
    background: url('/images/kernel-blue-right.png') right no-repeat;
}

.vkernel.expanded.contains .vkernel.collapsed.contains .leftbackground {
    background: url('/images/kernel-mini-blue-left.png') no-repeat;
}

.vkernel.expanded.contains .vkernel.collapsed.contains .mid-leftbackground {
    background: url('/images/kernel-mini-blue-mid.png');
}

.vkernel.expanded.contains .vkernel.collapsed.contains .mid-rightbackground {
    display: none;
}

.vkernel.expanded.contains .vkernel.collapsed.contains .rightbackground {
    background: url('/images/kernel-mini-blue-right.png') right no-repeat;
}

.vkernel.contains.expanded .leftbackground {
    background: url('/images/kernel-expanded-left.png') no-repeat;
}

.vkernel.contains.expanded .mid-leftbackground {
    background: url('/images/kernel-expanded-mid-left.png');
}

.vkernel.contains.expanded .mid-rightbackground {
    background: url('/images/kernel-expanded-mid-right.png');
}

.vkernel.contains.expanded .rightbackground {
    background: url('/images/kernel-expanded-right.png') right no-repeat;
}

.vkernel.contains.expanded .vkernel.contains.expanded .leftbackground {
    background: url('/images/kernel-mini-blue-expanded-left.png') no-repeat;
}

.vkernel.contains.expanded .vkernel.contains.expanded .mid-leftbackground {
    background: url('/images/kernel-mini-blue-expanded-midleft.png');
}

.vkernel.contains.expanded .vkernel.contains.expanded .mid-rightbackground {
    background: url('/images/kernel-mini-blue-expanded-midright.png');
}

.vkernel.contains.expanded .vkernel.contains.expanded .rightbackground {
    background: url('/images/kernel-mini-blue-expanded-right.png') right no-repeat;
}

.relationshiphalo {
    display: none;
    position: absolute;
    left: -15px;
    top: -15px;
    right: -15px;
    bottom: -15px;
    width: 100%;
    height: 100%;
    z-index: -3;
}

.selected .relationshiphalo {
    display: block;
}

.notselected .relationshiphalo {
    display: none;
}

.notselected .selected .relationshiphalo {
    display: block;
}

.selected .notselected .relationshiphalo {
    display: none;
}

.halo-top-left {
    position: absolute;
    background: url('/images/halo-top-left.png') no-repeat;
    left: 0px;
    top: 0px;
    width: 19px;
    height: 19px;
    z-index: -2;
}

.halo-left {
    position: absolute;
    background: url('/images/halo-left.png');
    left: 0px;
    top: 19px;
    bottom: 19px;
    width: 19px;
    z-index: -2;
}

.halo-bottom-left {
    position: absolute;
    background: url('/images/halo-bottom-left.png') no-repeat;
    left: 0px;
    bottom: 0px;
    width: 19px;
    height: 19px;
    z-index: -2;
}

.halo-top {
    position: absolute;
    background: url('/images/halo-top.png');
    left: 19px;
    top: 0px;
    right: 19px;
    height: 19px;
    z-index: -2;
}

.halo-bottom {
    position: absolute;
    background: url('/images/halo-bottom.png');
    left: 19px;
    bottom: 0px;
    right: 19px;
    height: 19px;
    z-index: -2;
}

.halo-right {
    position: absolute;
    background: url('/images/halo-right.png');
    right: 0px;
    top: 19px;
    bottom: 19px;
    width: 19px;
    z-index: -2;
}

.halo-top-right {
    position: absolute;
    background: url('/images/halo-top-right.png') no-repeat;
    right: 0px;
    top: 0px;
    width: 19px;
    height: 19px;
    z-index: -2;
}

.halo-bottom-right {
    position: absolute;
    background: url('/images/halo-bottom-right.png') no-repeat;
    right: 0px;
    bottom: 0px;
    width: 19px;
    height: 19px;
    z-index: -2;
}

.newrelationshiparrow {
    position: absolute;
    width: 13px;
    height: 14px;
}

.newrelationshiparrow.up { background: url('/images/rel-arrow-up.png') no-repeat; }
.newrelationshiparrow.down { background: url('/images/rel-arrow-down.png') no-repeat; }
.newrelationshiparrow.left { background: url('/images/rel-arrow-left.png') no-repeat; }
.newrelationshiparrow.right { background: url('/images/rel-arrow-right.png') no-repeat; }

.newrelationshiparrow.upleft { background: url('/images/rel-arrow-up-left.png') no-repeat; }
.newrelationshiparrow.upright { background: url('/images/rel-arrow-up-right.png') no-repeat; }
.newrelationshiparrow.downleft { background: url('/images/rel-arrow-down-left.png') no-repeat; }
.newrelationshiparrow.downright { background: url('/images/rel-arrow-down-right.png') no-repeat; }

.relationship {
    border: 0px;
    z-index: 10;
}


.expandbutton,
.removebutton,
.editbutton {
    position: absolute;
}

.vkernel .expandbutton {
    left: 4px;
    top: 6px;
    width: 7px;
    height: 10px;
    z-index: 5;
}

.vkernel.expanded .expandbutton {
    left: 4px;
    top: 8px;
    width: 9px;
    height: 8px;
    background: url('/images/spinner-vert.png') no-repeat;
    z-index: 5;
}

.vkernel.collapsed .expandbutton {
    left: 4px;
    top: 6px;
    width: 7px;
    height: 10px;
    background: url('/images/spinner-horiz.png') no-repeat;
    z-index: 5;
}

.removebutton {
    left: 6px;
    top: -12px;
    background: url('/images/close-button.png') no-repeat;
    width: 10px;
    height: 10px;
}

.editbutton {
    left: 18px;
    top: -12px;
    background: url('/images/edit-button.png') no-repeat;
    width: 10px;
    height: 10px;
}

.note.selected .removebutton {
    display: block;
}

.note.notselected .removebutton {
    display: none;
}

.notselected .note.selected .removebutton {
    display: block;
}

.selected .note.notselected .removebutton {
    display: none;
}

.vkernel.selected .removebutton,
.vkernel.selected .editbutton {
    display: block;
}

.vkernel.notselected .removebutton,
.vkernel.notselected .editbutton {
    display: none;
}

.vkernel.notselected .vkernel.selected .removebutton,
.vkernel.notselected .vkernel.selected .editbutton {
    display: block;
}

.vkernel.selected .vkernel.notselected .removebutton,
.vkernel.selected .vkernel.notselected .editbutton {
    display: none;
}

.relationship.selected .relationshipLabel {
    border: 1px solid black;
}

.relationship.notselected .relationshipLabel {
    border: 1px solid white;
}

.notselected .relationship.selected .relationshipLabel {
    border: 1px solid black;
}

.selected .relationship.notselected .relationshipLabel {
    border: 1px solid white;
}

.relationship.selected .removebutton {
    display: block;
}

.relationship.notselected .removebutton {
    display: none;
}

.notselected .relationship.selected .removebutton {
    display: block;
}

.selected .relationship.notselected .removebutton {
    display: none;
}

.relationship .removebutton {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 0px;
    background: blue;
    color: white;
    left: 55px;
    top: -12px;
}

img {
    z-index: 0;
}

.arrowdiv {
    position: absolute;
    /* This is necessary to make the arrows clickable in IE.  Otherwise the click is stolen by the line image. */
    background: url('/images/clear.gif');
    z-index: 1;
}

.arrowcanvas {
    left: -17px;
    top: -17px;
    width: 34px;
    height: 34px;
    position: absolute;
    z-index: 0;
    /* This is necessary to make the arrows clickable in IE.  Otherwise the click is stolen by the line image. */
    background: url('/images/clear.gif');
}

.arrowclickbox {
    position: absolute;
    z-index: 50;
}

.labelDiv {
    position: absolute;
    z-index: 1;
}

.relationshipLabel {
    position: absolute;
    width: 100px;
    height: 20px;
    background: white;
    border: 1px solid white;
    text-align: center;
    top: -10px;
    left: -50px;
    z-index: 1;
}

.vkernel .namelink {
    border: 0px solid white;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-style: italic;
    font-family: sans-serif;
    font-size: 12px;
    top: 4px;
    left: 15px;
}

.vkernel a.namelink {
    color: white;
}

.vkernel a.namelink:hover {
    color: black;
}

.vkernel a.namelink:active {
    color: red;
}

.vkernel .namefield {
    background: white;
    color: black;
    display: none;
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    top: 2px;
    left: 15px;
}

.vkernel.edit .namefield {
    display: block;
}

.vkernel.noedit .namefield {
    display: none;
}

.vkernel.noedit .vkernel.edit .namefield {
    display: block;
    background: white;
}

.vkernel.edit .vkernel.noedit .namefield {
    display: none;
}

.vkernel.edit .namelink {
    display: none;
}

.vkernel.noedit .namelink {
    display: block;
}

.vkernel.noedit .vkernel.edit .namelink {
    display: none;
}

.vkernel.edit .vkernel.noedit .namelink {
    display: block;
}

.vkernel .body {
    background: white;
    position: absolute;
    left: 0px; right: 0px;
    top: 23px; bottom: 0px;
    border: 1px solid #767676;
    clear: both;
    overflow: hidden;
}

* html .vkernel .body {
    width: 99%;
    height: 88%;
}

.vkernel .body.activated {
    background: #d2eeff;
}

.vkernel.collapsed {
    height: 24px;
}

.vkernel.collapsed .body {
    height: 0px;
    display: none;
}

.vkernel .leftbackground {
    position: absolute;
    background: url('/images/body-left.png') no-repeat;
    height: 24px;
    left: 0px;
    width: 8px;
    top: 0px;
    z-index: 0;
}

.vkernel .mid-leftbackground {
    position: absolute;
    background: url('/images/body-mid.png');
    height: 24px;
    left: 8px;
    right: 33px;
    top: 0px;
    z-index: 0;
}

.vkernel .mid-rightbackground {
    display: none;
}

.vkernel .rightbackground {
    position: absolute;
    background: url('/images/body-right.png') right no-repeat;
    height: 24px;
    width: 33px;
    right: 0px;
    top: 0px;
    z-index: 0;
    cursor: move;
}

.vkernel.expanded .leftbackground {
    position: absolute;
    background: url('/images/kernel-expanded-gray-left.png') no-repeat;
    height: 24px;
    left: 0px;
    width: 6px;
    top: 0px;
    z-index: 0;
}

.vkernel.expanded .mid-leftbackground {
    position: absolute;
    background: url('/images/kernel-expanded-gray-mid-left.png');
    height: 24px;
    left: 6px;
    right: 33px;
    top: 0px;
    z-index: 0;
}

.vkernel.expanded .mid-rightbackground {
    display: block;
    position: absolute;
    background: url('/images/kernel-expanded-gray-mid-right.png');
    height: 24px;
    right: 6px;
    width: 33px;
    top: 0px;
    z-index: 0;
    cursor: move;
}

.vkernel.expanded .rightbackground {
    position: absolute;
    background: url('/images/kernel-expanded-gray-right.png') right no-repeat;
    height: 24px;
    width: 6px;
    right: 0px;
    top: 0px;
    z-index: 0;
    cursor: default;
}

.vkernel .vkernel.collapsed {
    height: 15px;
}

.vkernel .vkernel .leftbackground {
    position: absolute;
    height: 15px;
    left: 0px;
    width: 6px;
    top: 0px;
    z-index: 0;
}

.vkernel .vkernel .mid-leftbackground {
    position: absolute;
    height: 15px;
    left: 6px;
    right: 23px;
    top: 0px;
    z-index: 0;
}

.vkernel .vkernel .rightbackground {
    position: absolute;
    height: 15px;
    width: 23px;
    right: 0px;
    top: 0px;
    z-index: 0;
    cursor: move;
}

.vkernel.expanded.contains .vkernel.collapsed.nocontains .leftbackground {
    background: url('/images/kernel-mini-left.png') no-repeat;
}

.vkernel.expanded.contains .vkernel.collapsed.nocontains .mid-leftbackground {
    background: url('/images/kernel-mini-mid.png');
}

.vkernel.expanded.contains .vkernel.collapsed.nocontains .mid-rightbackground {
    display: none;
}

.vkernel.expanded.contains .vkernel.collapsed.nocontains .rightbackground {
    background: url('/images/kernel-mini-right.png') right no-repeat;
}

.vkernel .vkernel .namelink {
    font-style: normal;
    font-size: 9px;
    top: 1px;
    left: 10px;
}

.vkernel .vkernel .namefield {
    font-size: 9px;
    top: 0px;
    left: 14px;
    height: 10px;
    padding: 0px;
}

.vkernel .vkernel .expandbutton {
   top: 3px;
}

.vkernel .vkernel .body {
    top: 14px;
}

.vkernel.expanded.contains .vkernel.expanded.nocontains .leftbackground {
    position: absolute;
    background: url('/images/kernel-mini-gray-expanded-left.png') no-repeat;
    height: 15px;
    left: 0px;
    width: 6px;
    top: 0px;
    z-index: 0;
}

.vkernel.expanded.contains .vkernel.expanded.nocontains .mid-leftbackground {
    position: absolute;
    background: url('/images/kernel-mini-gray-expanded-midleft.png');
    height: 15px;
    left: 6px;
    right: 33px;
    top: 0px;
    z-index: 0;
}

.vkernel.expanded.contains .vkernel.expanded.nocontains .mid-rightbackground {
    display: block;
    position: absolute;
    background: url('/images/kernel-mini-gray-expanded-midright.png');
    height: 15px;
    right: 6px;
    width: 33px;
    z-index: 0;
    cursor: move;
}

.vkernel.expanded.contains .vkernel.expanded.nocontains .rightbackground {
    position: absolute;
    background: url('/images/kernel-mini-gray-expanded-right.png') right no-repeat;
    height: 15px;
    width: 6px;
    right: 0px;
    top: 0px;
    z-index: 0;
    cursor: default;
}

.vkernel .vkernel.expanded.highlighted .leftbackground {
    background: url('/images/kernel-mini-orange-expanded-left.png') no-repeat;
}

.vkernel .vkernel.expanded.highlighted .mid-leftbackground {
    background: url('/images/kernel-mini-orange-expanded-midleft.png');
}

.vkernel .vkernel.expanded.highlighted .mid-rightbackground {
    background: url('/images/kernel-mini-orange-expanded-midright.png');
}

.vkernel .vkernel.expanded.highlighted .rightbackground {
    background: url('/images/kernel-mini-orange-expanded-right.png') right no-repeat;
}

.vkernel.collapsed .corner {
    display: none;
}

.corner {
    position: absolute;
    background: url('/images/note-corner.png') right no-repeat;
    right: 3px;
    bottom: 3px;
    width: 10px;
    height: 10px;
    cursor: se-resize;
    z-index: 2;

    /* this is a hack to make the div the right height in IE - no idea why it
     * works. */
    font-size: 12px;
}
div.auto_complete {
  width: 350px;
  background: #0ff;
  z-index:100;
}
div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;
}
div.auto_complete ul li.selected { 
  background-color: #ffb; 
}
div.auto_complete ul strong.highlight { 
  color: #800; 
  margin:0;
  padding:0;
}
div.dummyDiv {
    position: absolute;
    background: #888888;
}

/* main layout styles */

#sidebar {
    position: absolute;
    top: 0; right: 0;
	height: 100%; width: 25%;
	border-left: 1px solid #999;
	background-color: white;
}

#root {
    height: 100%; width: 75%;
	background-color: #ccf;
	text-align: center;
}

/* sidebar content */

#menutable {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    border: 0;
    vertical-align: top;
}

#mysearchfield {
    background-color: #ccc; color: #333;
    border: 1px solid black;
    width: 50%;
    font-size: 12pt;
    padding: 3px;
    margin: 3px;
}

#mysearchfield.focus {
    background-color: #9ff; color: #333;
}

#mysearchresults {
    width: 150px;
}

.searchresults {
    position:absolute;
    width: 400px;
    border: 1px solid black;
    background: white;
    z-index:100;
}

.searchresults ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
.searchresults ul li {
  margin:0;
  padding:3px;
}
.searchresults ul li.selected { 
  background-color: #ffb; 
}
.searchresults ul strong.highlight { 
  color: #800; 
  margin:0;
  padding:0;
}

.panetitle {
    height: 20px; width: 100%; /* width not specified */
    line-height: 20px;
    
    margin: 0; padding: 0;

    color: #999;
    font-family: Verdana; font-size: 12px; font-weight: bold;
    background: url(/images/menupane_back.gif) repeat-x;
}

.twistbutton {
    width: 20px; height: 20px;
    float: left; cursor: pointer;
    background: url(/images/expand_open.gif);
}

.closed {
    background: url(/images/expand_closed.gif);
}

.nobutton {
    cursor: default;
    background: transparent;
}

.panecontent {
    height: 100px; 
    overflow: auto;
    border-bottom: 1px solid #bebebe;
}

#parents_content {
    height: 300px; 
}

#rel_content {
    padding: 10px;
}

#sandbox {
    width: 100%; height: 100%;
}

.kernelthumbnail {
    position: relative;
    width: 200px;
    height: 180px;
    margin: 10px;
}

/* main content */

#kernel_title {
    border: 1px solid #eee;
    font-family: Verdana;
    font-size: 2em;
    color: #333;
    background: none; 
    text-align: center;
}


#permanent_delete {
    padding: 10px;
    float:right;
    border: 1px solid black;
}

#bugreport {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    background: white;
}
