<html>
    <head>
        <title></title>
    </head>
    <body>
    page: [%current_page%]<br/>
    pages: [%pages.size%]<br/>
    <a href="/" style="font-size: 100px;">N</a>
    <a href="/scotty">home</a>
    <a href="#">settings</a>
    <a href="#">help</a>
    <a href="/logout">logout</a>
    <br/>
    <br/>
    <form>
        <input name="s" value="[%c.req.params.s%]"/>
        <input type="submit" value="Search"/>
    </form>
    Results <b>[%start_index + 1%]-[%start_index + amount%]</b> of <b>[%count%]</b> results for <b>[%c.req.params.s%]</b>
    <p><a href="/0">new '[%c.req.params.s%]'</a></p>
    [%- search = c.req.params.s -%]
    [%- FOR object = results -%]
        [%- PERL %]
            $stash->set(type=>ref $stash->get('object'));
        [%-END-%]
        [%- IF type.match('Kernel$') -%]
            [%- PERL %]
                my $search = $stash->get('search');
                my $object = $stash->get('object');
                if($object->name =~ /$search/i){
                    $stash->set(prematch=>$`);
                    $stash->set(match=>$&);
                    $stash->set(postmatch=>$');
                }
            [% END -%]
            <p><a href="[%base _ object.relative_url%]">[%prematch%]<b>[%match%]</b>[%postmatch%]</a></p>
        [%- END -%]
        [%- IF type.match('Note$') -%]
            [%- PERL %]
                my $search = $stash->get('search');
                my $object = $stash->get('object');
                if($object->content =~ /$search/i){
                    $stash->set(prematch=>substr($`,-10));
                    $stash->set(match=>$&);
                    $stash->set(postmatch=>substr($',0,10));
                }
            [% END -%]
            <p><a href="[%base _ object.kernel.relative_url%]">
                [%-object.kernel.name%] : ([%prematch%]<b>[%match%]</b>[%postmatch-%])
            </a></p>
        [%- END -%]
    [%- END -%]
    [% IF current_page > 1 %]
        <a href="?s=[%c.req.params.s%]&start=[% (current_page - 2) * amount + 1%]&count=[%amount%]">&lt;</a>
    [% END %]
    [% FOR i = pages%]
        [% IF i == current_page %]
            [% i %]
        [% ELSE %]
            <a href="?s=[%c.req.params.s%]&start=[% (i - 1) * amount + 1%]&count=[%amount%]">[% i %]</a>
        [% END %]
    [% END %]
    [% IF current_page < pages.size %]
        <a href="?s=[%c.req.params.s%]&start=[% current_page * amount + 1%]&count=[%amount%]">&gt;</a>
    [% END %]
    </body>
</html>
