[% i = i + 1%]
[% id = note.id %]
<div id="note[%id%]" class="note notselected"
     style="left: [% note.x %]%; top: [% note.y %]%;
            width: [% note.width %]%; height: [% note.height %]%;">
    
    <div class="relationshiphalo">
        <div class="newrelationshiparrow"></div>
    </div>
    <div class="leftgrippie"></div>
    <input type=button value='X' class='removebutton'/>
    <textarea class='body'>[% note.content %]</textarea>
    
    <div class="corner"></div>
</div>
