<form action='[% base _ c.req.path.replace('beta-perl/?','') %]' method='POST'>
    [% FOREACH var IN c.req.params %]
        <input type=hidden name="[%var.key%]" value="[%var.value%]">
    [% END %]
    <table>
        <tr>
            <td>Email:</td>
            <td><input name='email'/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name='password' type='password'/></td>
        </tr>
    </table>
    <input value='Login' type='submit'/>
</form>
